<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DataBase01.Properties.Settings.TestDriveDBConnectionString"
            connectionString="Data Source=TestDriveDB.sdf;Password=29024783"
            providerName="Microsoft.SqlServerCe.Client.3.5" />
    </connectionStrings>
</configuration>