BODY {
	background: #000066;
	color: white;
	font-family: Arial, sans-serif;
	font-size: small;
	text-align: justify;
	scrollbar-face-color: #00b0cc;
	scrollbar-track-color: #00b0cc;
	scrollbar-highlight-color: lightblue;
	scrollbar-shadow-color: lightblue;
	scrollbar-arrow-color: lightblue;
	scrollbar-base-color: black;
	scrollbar-3dlight-color: black;
	scrollbar-darkshadow-color: black;
}

table
{
	background-image: url(blue.jpg);
}

input,select,textarea,file,option
{
	background-color: navy;
	color:white;
}

A {
	text-decoration: none;
	color: aqua;
	font: x-small;
}

A:Hover {
	text-decoration: underline;
	color: Silver;
}

HR {
	color: blue;
	height: 1pt;
}

H2 {
	font-size: 20pt;
	color: #87CEFA;
}

H3 {
	font-size: 13pt;
	color: #7FFFD4;
}

H4 {
    font-size: small;
	font-variant: small-caps;
	font-weight: bold;
	color : white;
	}

