vti_encoding:SR|utf8-nl
vti_author:SR|ANIGNORA\\anigno
vti_modifiedby:SR|ANIGNORA\\anigno
vti_timelastmodified:TR|20 Oct 2007 11:33:07 -0000
vti_timecreated:TR|20 Oct 2007 11:33:00 -0000
vti_extenderversion:SR|12.0.0.4518
vti_backlinkinfo:VX|
vti_cacheddtm:TX|20 Oct 2007 11:33:07 -0000
vti_filesize:IR|3
vti_nexttolasttimemodified:TR|20 Oct 2007 11:33:00 -0000
vti_syncwith_localhost\\e\:\\_temp\\3/e\:/_temp/3:TW|20 Oct 2007 11:33:07 -0000
vti_syncofs_localhost\\e\:\\_temp\\3/e\:/_temp/3:TW|26 Oct 2007 07:29:46 -0000
