<?xml version="1.0"?>
<LogViewerConfig xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <ApplicationLogPath>
    <string>D:\My Documents\_Anigno Documents\Programing\CSharp2008\AnignoProcessMonitorV2\AnignoProcessMonitorV2\bin\Debug\Log</string>
    <string>D:\My Documents\_Anigno Documents\Programing\CSharp2008\AnignoLibrary2008\MainTester\bin\Debug\Log</string>
    <string>D:\My Documents\_Anigno Documents\Programing\CSharp2008\AnignoAudioJukeBox\AnignoAudioJukeBox\bin\Debug\Log</string>
  </ApplicationLogPath>
  <Filters>
    <Filter>
      <FilterType>Text</FilterType>
      <FilterWildCard>play</FilterWildCard>
      <Active>false</Active>
    </Filter>
    <Filter>
      <FilterType>Method</FilterType>
      <FilterWildCard>load</FilterWildCard>
      <Active>false</Active>
    </Filter>
    <Filter>
      <FilterType>Text</FilterType>
      <FilterWildCard>player name changed</FilterWildCard>
      <Active>false</Active>
    </Filter>
    <Filter>
      <FilterType>Text</FilterType>
      <FilterWildCard>instances</FilterWildCard>
      <Active>false</Active>
    </Filter>
    <Filter>
      <FilterType>Text</FilterType>
      <FilterWildCard>replacing players</FilterWildCard>
      <Active>false</Active>
    </Filter>
    <Filter>
      <FilterType>Class</FilterType>
      <FilterWildCard>AnignoIrrKlangMp3PlayerEx</FilterWildCard>
      <Active>false</Active>
    </Filter>
    <Filter>
      <FilterType>Method</FilterType>
      <FilterWildCard>pre</FilterWildCard>
      <Active>false</Active>
    </Filter>
    <Filter>
      <FilterType>Method</FilterType>
      <FilterWildCard>dispose</FilterWildCard>
      <Active>false</Active>
    </Filter>
    <Filter>
      <FilterType>Text</FilterType>
      <FilterWildCard>raise</FilterWildCard>
      <Active>false</Active>
    </Filter>
    <Filter>
      <FilterType>Method</FilterType>
      <FilterWildCard>raisepre</FilterWildCard>
      <Active>false</Active>
    </Filter>
    <Filter>
      <FilterType>Method</FilterType>
      <FilterWildCard>RaisePreFinishPlaying()</FilterWildCard>
      <Active>false</Active>
    </Filter>
    <Filter>
      <FilterType>Method</FilterType>
      <FilterWildCard>SetPlayPositionThreadStart</FilterWildCard>
      <Active>false</Active>
    </Filter>
  </Filters>
</LogViewerConfig>