vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|29 Jun 2007 12:12:31 -0000
vti_extenderversion:SR|12.0.0.4518
vti_author:SR|ANIGNORA\\anigno
vti_modifiedby:SR|ANIGNORA\\anigno
vti_timecreated:TR|09 Apr 2007 14:05:45 -0000
vti_backlinkinfo:VX|Pages/DynamicLinks/DynamicLinks.htm Pages/DiveSitesDynamic/SitePages/Site02/SitePage02.htm Pages/DiveSitesDynamic/SitePages/SitesList.htm Pages/DynamicLinks/SitePages/Site02/SitePage02.htm Pages/DynamicLinks/SiteList.htm Pages/FramesPages/ClearBorder.htm Pages/FramesPages/IDX.htm Pages/DiveSitesDynamic/SitePages/Site01/SitePage01.htm Pages/FramesPages/Contacts.htm Pages/FramesPages/Publications/Local.htm Pages/DynamicLinks/SitePages/Site01/SitePage01.htm Pages/FramesPages/Header.htm Pages/FramesPages/MainPage.htm Pages/FramesPages/Publications/International.htm Pages/FramesPages/Publications/NewsLetter.htm
vti_nexttolasttimemodified:TW|29 Jun 2007 12:12:22 -0000
vti_cacheddtm:TX|29 Jun 2007 12:12:31 -0000
vti_filesize:IR|872
